#homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 150px;
}

#tasks {
    display: flex;
    flex-direction: row;
    
}

#calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

#do-tasks {
    display: flex;
    flex-direction: column;
    background-color: rgb(221,221,221);
    width: 80vw;
    border-radius: 15px;
}

#home-text-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}